/* This file contains global CSS styles that apply to the entire application.
Define styles that affects all components within the app.*/
/* //import google fonts here */
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std/CircularStd-Book.woff2") format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-Book.woff") format("woff"),
    url("./assets/fonts/circular-std/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std/CircularStd-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-Medium.woff") format("woff"),
    url("./assets/fonts/circular-std/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std/CircularStd-Bold.woff2") format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-Bold.woff") format("woff"),
    url("./assets/fonts/circular-std/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std/CircularStd-Black.woff2")
      format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-Black.woff") format("woff"),
    url("./assets/fonts/circular-std/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";

  src: url("./assets/fonts/circular-std/CircularStd-BookItalic.woff2")
      format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-BookItalic.woff")
      format("woff"),
    url("./assets/fonts/circular-std/CircularStd-BookItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std/CircularStd-MediumItalic.woff2")
      format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-MediumItalic.woff")
      format("woff"),
    url("./assets/fonts/circular-std/CircularStd-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std/CircularStd-BoldItalic.woff2")
      format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-BoldItalic.woff")
      format("woff"),
    url("./assets/fonts/circular-std/CircularStd-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";

  src: url("./assets/fonts/circular-std/CircularStd-BlackItalic.woff2")
      format("woff2"),
    url("./assets/fonts/circular-std/CircularStd-BlackItalic.woff")
      format("woff"),
    url("./assets/fonts/circular-std/CircularStd-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
